<div class="dice-so-nice">
    <p>{{localize "DICESONICE.WelcomeMessage1"}}</p>
    <p>{{localize "DICESONICE.WelcomeMessage2"}}</p>
    <p><button type="button" class="dice-so-nice-btn-settings" data-key="dice-so-nice.dice-so-nice"><i class="fas fa-dice-d20"></i> {{localize "DICESONICE.configTitle"}}</button></p>
    <p>{{localize "DICESONICE.WelcomeMessage3"}}</p>
    <p>{{localize "DICESONICE.WelcomeMessage4"}}</p>
</div>